<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Click S.O.S.</title>

    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/list.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <main class="table-wrapper">
    </main>

    <footer class="buttons-wrapper">
        <button class="red-button large-button" id="exit-button">
            Sair
        </button>
    </footer>
</body>

<script src="scripts/list.js"></script>

</html>