<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Click S.O.S.</title>

    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/list.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <main class="table-wrapper">
        <section class="item">
            <div class="icon-container">
                <img src="assets/images/secondary-logo.png" class="icon" />
            </div>
            <div class="title-container">
                <span class="title">Teste</span>
            </div>
            <div class="description-container">
                <span class="description">
                    Nesse pull request, o gerenciador de dependências do frontend otimizou a renderização
                    da execução de requisições eficientes na API. Mais além do princípio de prazer, a 
                    ausência de autoridade é o ponto de fundação de nosso próprio desejo que não há recusa.
                </span>
            </div>
            <div class="button-container">
                <button class="remove-button">
                    <img src="assets/images/remove-icon.png" class="icon" />
                </button>
            </div>
        </section>
    </main>

    <footer class="buttons-wrapper">
        <a href="register.html">
            <button class="green-button large-button" id="new-os-button">
                Nova O.S.
            </button>
        </a>

        <a href="index.html">
            <button class="red-button large-button" id="exit-button">
                Sair
            </button>
        </a>
    </footer>
</body>

<script src="scripts/list.js"></script>

</html>